.noti-wapper{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: var(--bg-form);
    padding: 3rem 16rem;
    border-radius: 0.8rem;
    align-items: center;
}
.noti-title{
    font-size: var(--size-text-7);
    line-height: var(--line-height-4);
    color: var(--color-green-2);
    text-align: center;
    font-weight: 740;
    padding-bottom: 1rem;

}
.noti-content{
    font-size: var(--size-text-3);
   width: 120%;
   font-weight: 500;padding-bottom: 0.6rem;
   text-align: center;
}
.noti-content>span{
    text-decoration: underline;
    line-height: var(--line-height-4);
    padding: 0 0.4rem;
}
.noti-btns{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
   
}
.noti-btn{
    padding: 1rem 1.4rem;
    border-radius: 0.2rem;
    cursor: pointer;
    opacity: 0.9;
    margin: 1rem 1rem;
    font-size: var(--size-text-3);
    width: 100%;
   font-weight: 550;
}
.noti-btn:hover{
    opacity: 1;

}
.noti-green{
    color: var(--color-green);
    border: solid 0.25rem var(--color-green);
}
.noti-green:hover{
    color: var(--color-white);
    border: solid 0.25rem var(--color-green);
    background-color:var(--color-green) ;
}
.noti-red{
    color: var(--bg-chat-btn-red);
    border: solid 0.25rem var(--bg-chat-btn-red);

}
.noti-red:hover{
    color: var(--color-white);
    border: solid 0.25rem var(--bg-chat-btn-red);
background-color: var(--bg-chat-btn-red);
}
@media only screen and (max-width: 767px) {
    /* CSS rules for mobile phones */
    .noti-wapper{
        
        zoom: 0.8;
    }

}
@media (min-width: 768px) and (max-width: 1024px) {
    .noti-wapper{
        
        zoom: 0.8;
    }

}