/* ---home--- */

.home-warrper {
    display: flex;
    flex-direction: column;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stream-nav {
    display: flex;
    align-items: center;
    margin-left: 18rem;
}

.stream-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.jumbotron{
    justify-content: center;
    align-content: center;
    border: 0.5rem solid var(--color-quaternary);
    border-radius: 2rem;
    padding: 5rem;
    margin-top: 6rem;
}

.jumbotron-header{
    color: var(--color-green);
}

.jumbotron-text{
    color: var(--color-white);
}

.username {
    align-items: flex-end;
    margin-left: 65.5rem;
    color: var(--color-green);
    font-size: var(--size-text-4);
}

.home-title {
    font-size: var(--size-text-1);
    color: var(--color-white);
    font-weight: var(--weight-300);
    margin: 1rem 0 0 18rem;
    /* top right bottom left */
    align-self: flex-start;
}

.home-recent-container {
    font-size: var(--size-text-5);
    color: var(--color-white);
    font-weight: var(--weight-300);
    margin: 0rem 0 0 18rem;
    /* top right bottom left */
    align-self: flex-start;
}

.home-recent-list {
    display: flex;
    align-items: center;
    /* Align items vertically */
}


.balance-card {
    background-color: var(--bg-home);
    border-radius: 0.5rem;
    margin-left: 59.5rem;
    width: 9rem;
}

.balance {
    font-size: var(--size-text-4);
    color: var(--color-green);
    margin-left: 62rem;
    font-weight: bold;
}


.recent-title {
    font-size: var(--size-text-1);
    color: var(--color-white);
    font-weight: var(--weight-300);
    margin: 1rem 0 1rem 18rem;
    /* top right bottom left */
    align-self: flex-start;
}

.room-name {
    color: var(--color-green);
    font-size: var(--size-text-3);
    align-items: flex-start;
}

.recent-broadcast-card {
    background-color: var(--bg-home-nav);
    width: 15rem;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    cursor: pointer;
}

.recent-token-wrapper {
    display: flex;
    justify-content: space-between;
}

.token-container {
    font-size: var(--size-text-5);
    color: var(--color-white);
    font-weight: var(--weight-300);
    /* top right bottom left */
    align-self: flex-end;
    gap: 2rem;
}

.subheader-wrapper {
    display: flex;
    justify-content: space-between;
}

.tertiary-wrapper{
    display: flex;
    justify-content: space-between;
}

.recent-title,
.token-balance {
    display: inline-block;
}

.add-token {
    width: 8rem;
    height: 2rem;
    margin: 0rem 19rem 0rem 0rem;
    background-color: var(--color-quaternary);
    color: var(--color-white);
    font-size: var(--size-text-3);
    border-radius: 5rem;
    border: 0.1rem solid var(--color-white);
    cursor: pointer;
}

.add-token:hover {
    color: var(--color-green);
    opacity: 0.9;
}

.token-balance {
    margin: 1rem 18rem 1rem 0rem;
    color: var(--color-white);
    font-size: var(--size-text-1);
}

.home-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatroom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.chatroom-video {
    height: 70vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatroom-comment {
    height: 70vh;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ---user--- */


@media only screen and (min-width: 1025px) {
    .home-list {
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 1024px) {

    /* CSS rules for iPad Pro */
    .home-list {
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /* CSS rules for tablets */
    .home-list {
        justify-content: center;
    }

    .home-container {
        padding-left: 0;
    }

    .chatroom-container {
        flex-direction: column;
    }

    .chatroom-video {
        height: 60vh;
        width: 100%;
    }

    .chatroom-comment {
        height: 28vh;
        width: 100%;
        margin-top: 2vh;
    }

}

@media only screen and (max-width: 767px) {

    /* CSS rules for mobile phones */
    .home-warrper {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .home-list {
        justify-content: center;
    }

    .home-container {

        padding-left: 0;
    }

    .chatroom-video {
        height: 50vh;

    }

    .chatroom-comment {
        height: 43vh;
    }

    .chatroom-container {
        flex-direction: column;
    }

    .chatroom-video {
        height: 80vh;
        width: 100%;
    }

    .chatroom-comment {
        height: 28vh;
        width: 100%;
        margin-top: 2vh;
    }

}

@media (min-width: 480px) {}

@media only screen and (max-width: 414px) {
    /* CSS rules for iPhone 6/7/8 Plus */
}

@media only screen and (max-width: 375px) {
    /* CSS rules for iPhone 6/7/8 */
}

@media only screen and (max-width: 375px) {
    /* CSS rules for iPhone X */
}

@media only screen and (min-width: 321px) and (max-width: 767px) {
    /* CSS rules for mobile phones */

    .chatroom-container {
        flex-direction: column;
    }

    .chatroom-video {
        height: 80vh;
        width: 100%;
    }

    .chatroom-comment {
        height: 40vh;
        width: 100%;
        margin-top: 2vh;
    }

}