/* ---home--- */

.home-warrper {
    display: flex;
    flex-direction: column;

}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stream-nav {
    display: flex;
    align-items: center;
    margin-left: 8rem;
}

.stream-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.streamer-profile-container {
    width: 95rem;
    height: 5rem;
    padding: 0.6rem;
}

.streamer-avatar-container {
    height: 5rem;
    display: flex;
    align-items: flex-start;
    color: var(--color-white);
}


.streamer-avatar {
    width: 4rem;
    margin-right: 1rem;
}

.streamer-info {
    display: flex;
    flex-direction: column;
}

.streamer-name {
    text-align: start;
    margin: 0;
    font-size: 1.5rem;
}

.streamer-description {
    text-align: start;
    margin: 0;
}

.streamer-follow-subscribe {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.subscribe-btn {
    width: 6.5rem;
    height: 1.8rem;
    font-size: 1rem;
    color: var(--color-white);
    border-radius: 0.3rem;
    background-color: #161d2f;
    border: 0.1rem solid #1f2841 ;
    cursor: pointer;
}

.streamer-about-container {
    margin-left: 10rem;
    color: var(--color-white);
    margin-top: 2rem;
}

.streamer-about-title {
    text-align: start;
    font-size: 1.5rem;
    width: auto;
    margin: auto;
}

.streamer-about-content {
    background-color: #161d2f;
    border-radius: 0.3rem;
    height: auto;
    text-align: start;
    padding: 1rem 2rem 1rem 2rem;
    width: 75rem;
    margin-left: 10rem;
    color: var(--color-white);
    margin-bottom: 2rem;
}

.streamer-about-description {
    margin: auto;
    height: auto;
}

.jumbotron {
    justify-content: center;
    align-content: center;
    background-color: var(--bg-form);
    border-radius: 2rem;
    padding: 3rem;
    margin-top: 10rem;
    width: 35rem;
}

.jumbotron-header {
    color: var(--color-green);
    font-size: 3rem;
}

.jumbotron-text {
    color: var(--color-white);
}

.username-card {
    align-items: center;
    height: 4rem;
    justify-content: center;
    display: flex;
    width: 12rem;
    margin-left: 58rem;
}

.username {
    color: var(--color-green);
    font-size: var(--size-text-4);
    font-weight: bold;
    margin-left: 45rem;
}

.home-title {
    font-size: var(--size-text-1);
    color: var(--color-white);
    font-weight: var(--weight-300);
    margin-left: 8rem;
    margin-top: 1.5rem;
    /* top right bottom left */
    align-self: flex-start;
}

.subheader-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-right: 12rem;
}

.home-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatroom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.chatroom-video {
    height: 75vh;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatroom-comment {
    height: 75vh;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


/* ---user--- */


@media only screen and (min-width: 1025px) {
    .home-list {
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 1024px) {

    /* CSS rules for iPad Pro */
    .home-list {
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /* CSS rules for tablets */
    .home-list {
        justify-content: center;
    }

    .home-container {
        padding-left: 0;
    }

    .chatroom-container {
        flex-direction: column;
    }

    .chatroom-video {
        height: 60vh;
        width: 100%;
    }

    .chatroom-comment {
        height: 28vh;
        width: 100%;
        margin-top: 2vh;
    }

}

@media only screen and (max-width: 767px) {

    /* CSS rules for mobile phones */
    .home-warrper {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .home-list {
        justify-content: center;
    }

    .home-container {

        padding-left: 0;
    }

    .chatroom-video {
        height: 50vh;

    }

    .chatroom-comment {
        height: 43vh;
    }

    .chatroom-container {
        flex-direction: column;
    }

    .chatroom-video {
        height: 80vh;
        width: 100%;
    }

    .chatroom-comment {
        height: 28vh;
        width: 100%;
        margin-top: 2vh;
    }

}

@media (min-width: 480px) {}

@media only screen and (max-width: 414px) {
    /* CSS rules for iPhone 6/7/8 Plus */
}

@media only screen and (max-width: 375px) {
    /* CSS rules for iPhone 6/7/8 */
}

@media only screen and (max-width: 375px) {
    /* CSS rules for iPhone X */
}

@media only screen and (min-width: 321px) and (max-width: 767px) {
    /* CSS rules for mobile phones */

    .chatroom-container {
        flex-direction: column;
    }

    .chatroom-video {
        height: 80vh;
        width: 100%;
    }

    .chatroom-comment {
        height: 40vh;
        width: 100%;
        margin-top: 2vh;
    }

}