.form-wapper{
    display: flex;
    flex-direction: column;
    width: 25rem;
    background-color: var(--bg-form);
    padding: 2rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 25rem;
    background-color: var(--bg-form);
    padding: 2rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

.form-title {
    font-size: var(--size-text-4);
    line-height: var(--line-height-4);
    color: var(--color-white);
    text-align: center;
    font-weight: bold;
}

.form-main {
    margin-bottom: 2rem;
}

.form-group-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-group-main label {
    font-size: var(--size-text-5);
    color: var(--color-title);
    margin-right: 1rem;
}

.form-input-value {
    background-color: inherit;
    color: var(--color-white);
    width: 25rem;
    overflow: hidden;
    padding: 1rem 1rem;
    margin-top: 1.2rem;
    font-size: var(--size-text-5);
    line-height: var(--line-height-5);
    font-weight: var(--weight-300);
    cursor: text;
    border: 2px solid #5A698F;
    border-radius: 1rem;
    box-sizing: border-box;
}

.form-input-second-value {
    background-color: inherit;
    color: var(--color-white);
    width: 12.2rem;
    overflow: hidden;
    padding: 1rem 1rem;
    margin-top: 0rem;
    margin-right: 0.5rem;
    font-size: var(--size-text-5);
    line-height: var(--line-height-5);
    font-weight: var(--weight-300);
    cursor: text;
    border: 2px solid #5A698F;
    border-radius: 1rem;
    box-sizing: border-box;
}

.form-group-label {
    display: flex;
    flex-direction: column;
}

.form-group-label label {
    font-size: var(--size-text-5);
    color: var(--color-title);
    margin-top: 1.2rem;
}

.form-input-value:focus {
    outline-color: var(--hover-green);
    background-color: inherit;
}

::placeholder {
    color: var(--color-title);
}

.form-btn-submit {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 3rem;
    font-size: var(--size-text-3);
    line-height: var(--line-height-5);
    font-weight: var(--weight-300);
    border-radius: 1rem;
    background-color: var(--bg-btn-submit);
    margin-bottom: 2rem;
    border: none;
    color: var(--color-white);
    cursor: pointer;
}

.form-btn-submit:hover {
    background-color: var(--bg-btn-submit-hover);
    color: var(--color-white);
}


.form-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    font-weight: var(--weight-300);
    font-size: var(--size-text-5);
}

.form-more-content {
    padding: 0;
    margin: 0;
    color: var(--color-white);
}

.form-more-link {
    padding: 0;
    margin-left: 0.6rem;
    color: var(--color-green);
    cursor: pointer;
}

.form-more>p {
    padding: 0;
    margin: 0;
}

.form-error-message {
    text-align: center;
    color: var(--color-red);
    font-weight: 700;
    font-size: var(--size-text-2);
    margin-bottom: 1rem;
    visibility: hidden;
}

.form-error-message.active {
    visibility: visible;
}

.form-success-message {
    text-align: center;
    color: var(--color-green);
    font-weight: 700;
    font-size: var(--size-text-2);
    margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {

    /* CSS rules for mobile phones */
    .form-wapper {

        width: 80%;
    }

}