.chatwindow-wapper {
    background-color: #161d2f;
    height: 140%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 0.1rem solid #949494;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-top: 1rem;
}