.popup-wapper {
  position: fixed;
  /* background: var(--bg-popup); */
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.popup-container {
  display: flex;
  justify-content: flex-end;

}

.popup-btn {
  position: absolute;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  padding-right: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: lighter;
  color: var(--color-white);
  background-color: var(--bg-form);
  cursor: pointer;
}

.popup-btn:hover {
  color: var(--color-green);
}