.drawer-hamburger-menu{
  width: 100%;
}

.drawer-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-white);
    align-items: flex-start;
    transition: 0.4s;
    

  }
.drawer-button-icon{
      width: 1.5rem;
      height: 1.5rem;
  }
  .drawer-bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-white);
    transition: 0.4s;
  }
  .drawer-menu-items {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  
    align-items: center;
    margin-top: 0.6rem;
    min-height: 2.5rem;
   
  }
  .drawer-container{
    width: 100%;
    margin-bottom: 6.6rem;
  }
  .drawer-container-ac{
    width: 100%;
    margin-bottom: 0;
  }
  .drawer-item{
    color: var(--color-white);
    font-size: var(--size-text-1);
    border-radius: 0.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
    padding: 0.4rem 0;
    position: absolute;                           
    left: -0.3rem;
   border: none;
    flex-direction: column;
  }
  .drawer-item>button{
    background-color: var( --bg-btn-mobile);
    width: 100%;
    padding: 0.5rem 0;
    margin:0.2rem 0;
    font-weight: 600;
  }
  .drawer-item-a{
    color: var(--color-white);
    font-size: var(--size-text-1);
    background-color: var( --bg-btn-mobile);
    border-radius: 0.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
    padding: 0.4rem 0;
  }
  .drawer-item-a >a {
    color: var(--color-white);
  }
  .drawer-item-a:hover{
 
opacity: 0.9;
  }
.green{
    color: var(--color-green);
    border: solid 0.25rem var(--color-green);
}
.green:hover{
  border-color: #59a87a;
}
.yellow{
    color: var(--color-yellow);
    border: solid 0.25rem var(--color-yellow);
}
.btn-green{
  color: var(--color-white);
  border: solid 0.25rem var(--color-green);
}
.btn-yellow{
  color: var(--color-white);
  border: solid 0.25rem var(--color-yellow);
}
.btn-logout{
  color: var(--color-white);
 border: solid 0.25rem var(--bg-btn-user);
 display: flex;
 align-items: center;
 justify-content: center;
}

.btn-logout > img{
  width: 1.2rem;
  height: 1.2rem;
  margin-left:0.2rem;

}