/* .header-wapper{
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
  
} */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161d2f;
  height: 70px;
}

.logo {
  width: 120px;
  margin-left: 1.25rem;
  cursor: pointer;
}

.logo1 {
  width: 120px;
  margin-left: 1.25rem;
  cursor: pointer;
}

.avatar {
  width: 50px;
  margin-right: 1.25rem;
  cursor: pointer;
  border: 0.3rem solid var(--color-secondary);
  border-radius: 5rem;
}

.navigation-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161d2f;
  height: 70px;
}

.navigation-buttons {
  display: flex;
  margin-right: 1.25rem;
}

.signup-btn,
.login-btn {
  font-size: 1.3rem;
  padding: 0.2rem;
  cursor: pointer;
  width: 5rem;
  border-radius: 0.5rem;
  color: var(--color-white);
  text-align: center;
  font-weight: bold;
}

.signup-btn {
  margin-right: 0.625rem;
  background-color: #161d2f;
  border: 2px solid #5A698F;
}

.login-btn {
  background-color: #5A698F;
}

.signup-btn:hover,
.login-btn:hover {
  color: var(--color-green);
  opacity: 0.9;
}

.nav-links1 {
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-grow: 1;
  margin-left: 9.5rem;
}

.nav-links {
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-grow: 1;
}

.home-link,
.chat-link,
.pricing-link,
.about-link,
.account-link {
  color: var(--color-white);
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
}

.home-link:hover,
.chat-link:hover,
.pricing-link:hover,
.about-link:hover,
.account-link:hover {
  border-bottom: 0.188rem solid var(--color-green);
}

.navigation-others {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.balance-container {
  color: var(--color-white);
  margin-right: 1rem;
}

.status {
  color: var(--color-white)
}

.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  margin-right: 0.2rem;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
  display: flex;
  align-items: center;
}

.navigation-element {
  font-size: var(--size-text-3);
  line-height: var(--line-height);
  margin-right: 40rem;
  background: var(--bg-home);
  width: 200px;
  text-transform: capitalize;
}

.navigation-element-viewers {
  color: var(--color-green);
  font-size: var(--size-text-3);
  margin-right: 47rem;
}

.navigation-element:hover {
  color: var(--color-green) !important;
  opacity: 0.9;

}

.flex-end {
  justify-content: center;
}

.flex-end>.navigation-element {
  color: var(--color-white);

}

.between {
  justify-content: space-between;
}

.between>.navigation-element {
  color: var(--color-green);
  font-weight: var(--weight-500);
}

.header-line {
  width: 70%;
  border: solid 0.16rem var(--color-white);
}

.stream-button {
  font-size: var(--size-text-1);
  line-height: var(--line-height);
  border-radius: 0.625rem;
  background-color: initial;
  box-shadow: none;
  /* padding: 0 0.9rem; */
  cursor: pointer;
}

.green {
  color: var(--color-green);
  border: solid 0.25rem var(--color-green);
  width: 12.5rem;
}

.yellow {
  color: var(--color-yellow);
  border: solid 0.25rem var(--color-yellow);
  width: 12.5rem;
}

.header-drawer {
  display: none;
}

.header-option {
  color: white;
  position: absolute;
  right: 1.6rem;
  top: 4.6rem;
  width: 3rem;
  display: flex;
  background-color: var(--color-secondary);
  margin-left: 3rem;
  padding: 0;
  display: flex;
  align-items: center;
  align-items: center;
  border-radius: 0.6rem;
  justify-content: center;
  text-align: center;
  cursor: pointer;

}

.header-option:hover {
  background-color: var(--color-tertiary);
}

.tooltip {
  visibility: hidden;
  width: 4rem;
  background-color: #2f343e;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  top: 125%;
  opacity: 0;
  transition: opacity 0.3s;
}

.header-option:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.logout-icon {
  font-size: var(--size-text-4);
}

.header-option>img {
  width: 2rem;
  height: 2rem;
}

.header-username {
  max-width: 24rem;
  overflow: hidden;
  text-overflow: ellipsis;
}





@media only screen and (min-width: 1025px) {
  /* CSS rules for desktop */
}

@media only screen and (min-width: 1024px) {
  /* CSS rules for iPad Pro */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* CSS rules for tablets */

}

@media only screen and (max-width: 767px) {

  /* CSS rules for mobile phones */
  .header-username {
    max-width: 18rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .header-drawer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    font-size: var(--size-text-1);
    line-height: var(--line-height);
    width: 100%;
  }

  .show {
    display: none;
  }

  .navigation {
    align-items: flex-start;
    width: 100%;
    position: relative;
  }

  .flex-end {
    align-items: flex-start;
  }

  .header-wapper {
    align-items: flex-start;
    width: 100%;

    .navigation-element {
      font-size: var(--size-text-1);
      line-height: var(--line-height);
      margin-right: 1.5rem;
    }

    .navigation-element {

      margin-right: 0;
    }

    .header-option {
      display: none;

    }
  }

  /* .header-line{
    margin-top: 0.2rem;
  } */
}

@media only screen and (max-width: 414px) {
  /* CSS rules for iPhone 6/7/8 Plus */
}

@media only screen and (max-width: 375px) {
  /* CSS rules for iPhone 6/7/8 */
}

@media only screen and (max-width: 375px) {
  /* CSS rules for iPhone X */
}