.chat-footer {
    position: relative;
    padding: 0rem 1rem 1rem  1rem;
}

.chat-footer textarea.message-input {
    font-family: 'Outfit', sans-serif;;
    padding: 15px 30px 15px 10px;
    height: 50px !important;
    background-image: linear-gradient(45deg, var(--gradient-start), var(--gradient-end));
    color: var(--color-white);
}

.chat-footer textarea.message-input::placeholder{
    font-family: 'Outfit', sans-serif;
}

/* .chat-footer .send-message {
    position: absolute;
    visibility: hidden;
    font-size: 2rem;
} */
.send-message{
    position: absolute;
    font-size: 2rem;
    right: 1.5rem;
    top: 0.5rem;
    bottom: 0.5rem;

  
}

.send-message-icon{
    height: 2rem;
    width: 2rem;
    color: #ffffff;
    visibility: visible;
    cursor: pointer;
}



@media only screen and (max-width: 767px) {
    /* CSS rules for mobile phones */
    .send-message{
    display: none;
    }

}