.navigation-livestream {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;

}

.header-wapper {
  background-color: var(--bg-home);
}

.stream-title {
  font-size: var(--size-text-1);
  line-height: var(--line-height);
  border-radius: 0.625rem;
  background-color: var(--bg-home-nav);
  box-shadow: none;
  padding: 0.375rem 2.2rem 0.375rem 0;
  color: var(--color-green);
}

.back-container {
  margin-left: 14rem;
}

.back-icon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.back-container .tooltip {
  visibility: hidden;
  width: 5rem;
  background-color: #2f343e;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  margin-left: 1rem;
  font-size: 12px;
}

.back-container:hover .tooltip {
  visibility: visible;
}

@media only screen and (max-width: 767px) {

  .navigation-livestream {
    align-items: flex-start;
    width: 100%;
    position: relative;
  }

}